<div class="card">
    <div class="card-header">
     Task <span class="float-end">
      <span [ngSwitch]="state()">
        <span *ngSwitchCase="'backlog'">
          <span class="badge bg-primary">Backlog</span>
        </span>
        <span *ngSwitchCase="'progress'">
          <span class="badge bg-danger">In progress</span>
        </span>
        <span *ngSwitchCase="'finished'">
          <span class="badge bg-success">Finished</span>
        </span>
        <span *ngSwitchDefault>Error</span>
    </span>
     </span>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ task.title }}</h5>
      <p class="card-text">{{ task.description }}</p>
      <button (click)="removed.emit(task)" href="#" class="btn btn-danger float-end"><fa-icon [icon]="fatrash"></fa-icon> Trash</button>
    </div>
</div>