/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.top__container {
    margin-bottom: 50px;
}

.card {
    margin-bottom: 15px;
}

.task__border {
    background-color: #f1f1f1;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 30px;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948;
}
.ng-invalid:not(form)  {
    border-left: 5px solid #a94442;
} 